/* Page général */
h1,h2, h3 {
    font-family: 'New Tegomin', serif;
}

p {
    font-family: 'Montserrat', sans-serif; ;
}

/* menu de navigation */

.nav-bg {
    background-color: #F2E8F0;
}

.fa-shopping-bag{
    font-size: 20px;
}

#indexShop {
    display: flex;
}
#indexShop p {
    margin-left: 4px;
    font-size: 15px;
}

/* Titre de la section cards */

.box-title h2 {
    text-align: center;
    margin-top: 30px;
}

/* Section cards */

@media screen and (min-width: 992px) {
    #listeProduit img {
        height: 250px;
        object-fit: cover;
        
    }
}

/* Liens de la page */

a {
    color: black;
}

a:link {
    text-decoration: none;
}

/* Footer */

footer .fab, footer a{
    color: white;
}


/********************************** Page panier **********************************/

.panier__title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.product__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px;
}

.product__container img {
    width: 300px;
}


/* Bouton de suppression de l'article */

#totalShop {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#removeProduct {
    cursor: pointer;
}

/* Bouton pour vider le panier */

#clearShop {
    cursor: pointer;
    margin-left: 10px;
}

#clearShop:hover {
    text-decoration: underline;
}

/* Formulaire client */

.form__product {
    text-align: center;
}
